body
{
  background-color:white;
  width:1024px;
  height:800px;
  display: flex;
  justify-content: center;
  margin: auto;
  font-family: 'Roboto', sans-serif;


}



.bloc_droit
{
  width:75%;
  height:100%;
  background-color:rgb(232, 230, 230);
  display:flex;
  flex-direction: column;
  margin: 0px;


}

.nom
{
  background-color:rgb(207, 210, 215);
  width:100%;
  height: min-content;

}

.presentation
{
  width: 100%;
  height:auto;
  display: flex;
  background: no-repeat center/100% url('img/background/bluebg.jpeg');
  align-items: center;
  margin: 0px;
}

.photo
{
  margin: 20px;
}

.article
{
  margin: 20px;
}

.exp_par
{
  display: flex;
  align-items: center;
  height:100%;
  width:100%;
}

.experience
{
  flex-basis:50%;
  height:100%;
  background-color:rgb(207, 210, 215);
  margin: 5px ;
  border-radius: 5px;
}

.parcours
{
  flex-basis:50%;
  height:100%;
  background-color:rgb(207, 210, 215);
  margin: 5px ;
  border-radius: 5px;
}

.bloc_gauche
{
  background-image:  url('img/background/20.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width:25%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:flex-start;


}

.contact
{
  flex-basis: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.maitrise
{
  flex-basis: auto;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo_mai
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:100%;
}


.interets
{
  flex-basis: auto;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.logo_int
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:100%;
}

.logointeret
{
  flex-basis: auto;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1
{
  color: #1929b0;
  font-size: 3em;
}

.nom h2{
  color: gray;
  text-shadow: none;
}

h2
{
  color:white;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px black;
}

h3
{
  font-size:2em;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
  text-decoration: underline;
}

.article p
{
  color:white;
  font-weight: bold;
  font-size: 1.2em;
}

span
{
  background-color: #1929b0;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

.info_cont p{
  color: white;
  font-weight: bold;
}

.parcours p{
  font-size: 1.1em;
}

.experience p{
  font-size: 1.1em;
}

a:hover {
  color: green;
}

a:visited {
  color: blueviolet;
}
